@import "../utilities/mixins.sass"
@import "../utilities/variables.sass"

[data-am-bulma~="tile"]
  align-items: stretch
  display: block
  flex-basis: auto
  flex-grow: 1
  flex-shrink: 1
  min-height: min-content
  // Modifiers
  &[data-am-bulma~="is-ancestor"]
    margin-left: -10px
    margin-right: -10px
    margin-top: -10px
    &:last-child
      margin-bottom: -10px
    &:not(:last-child)
      margin-bottom: 10px
  &[data-am-bulma~="is-child"]
    margin: 0 !important
  &[data-am-bulma~="is-parent"]
    padding: 10px
  &[data-am-bulma~="is-vertical"]
    flex-direction: column
    & > [data-am-bulma~="tile"][data-am-bulma~="is-child"]:not(:last-child)
      margin-bottom: 20px !important
  // Responsiveness
  +tablet
    &:not([data-am-bulma~="is-child"])
      display: flex
    @for $i from 1 through 12
      &[data-am-bulma~="is-#{$i}"]
        flex: none
        width: ($i / 12) * 100%
